$text-color: rgba(0, 0, 0, 0.75);

.articleDetails {
    max-width: 941px;
    min-width: 420px;
    height: 830px;
    background-color: #fff;
    color: $text-color;
    margin: 0 auto;
}

.articleCardDetail {
    height: 800px;
}

.articleBody {
    box-sizing: border-box;
    padding-left: 19px;
}

.articleBodyItem{
    margin-bottom: 25px;
    // display: flex;
    // flex-wrap: wrap;
}

.articleBodySubtitle{
    font-size: 18px;
}

.articleBodyText,
.articleBodyList{
    font-size: 14px;
}

.articleBodyList {
    position: relative;
    left: -20px;
}

.editArticleBtns {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.editArticleBtn {
    font-size: 14px;
    width: 70px;
    height: 30px;
    border: 1px solid #F5222D;
    border-radius: 4px;
    color: #F5222D;
}

.editMyArticle {
    border-color: #52C41A;
    color: #52C41A;
} 