@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.newArticleHeader {
    font-size: 20px;
}

.newArticeInput{
    width: 874px;
}

.newArticleText {
    height: 168px;
}