@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.createArtForm {
    min-height: 700px;
    min-width: 415px;
    max-width: 938px;
    max-height: 100%;
}

@media (min-width: 768px) {
    .createArtForm {
        min-width: 768px;
    }
}

.newArticleHeader {
    font-size: 20px;
}

.newArticeInput{
    min-width: 320;
}

@media (min-width: 768px) {
    .newArticeInput {
        min-width: 708px;
        max-width: 874px;
    }
}

.newArticleText {
    height: 168px;
}